# Want to be kept in the loop with changes to our github ecosystem? Add yourself
# as a CODEOWNER below! You can subscribe to any paths you like. Use your github
username, if different than your UW NetID.

# Anyone on this line will be included on all changes to this repo.
* @tomthorogood

# The peer reviewers group should always be included
# on proposed changes to the peer review guidelines
docs/peer-review.md @iam-peer-reviewers
